<h1>Hello, <%=current_rider.name %></h1>
</br>
</br>

<% @motorcycles.each do |motorcycle| %>
<%= motorcycle.name %>
</br>
<a href ="/motorcycles/new" class=>Add </a>
<a href ="/motorcycles/<%= motorcycle.id %>/edit" class=>Edit </a>
<a href ="/motorcycles/<%= motorcycle.id %>"> View </a>
<a href ="/motorcycles/<%= motorcycle.id %>/delete" class=>!Delete! </a>

</br>
<% end %>
</br>
</br>
<a href ="/motorcycles/new" class='btn'>Add </a>
