<h1><%= @destination.name %>
<%= @destination.distance %><h1>
  <%= binding.pry %>

<a href="/motorcycles/<%= @destination.motorcycle.id %>"><%= @destination.motorcycle.name %></a>
</br>
<a href="/destinations/<%=destination.id%>/edit"> Change info </a>
