<h1><%= @desination.name %>
<%= @desination.distance %><h1>

<a href="/motorcycles/<%= @desination.motorcycle.id %>"><%= @desination.motorcycle.name %></a>
</br>
<a href="/destinations/<%=desination.id%>/edit"> Change info </a>
